<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="userName" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="password" type="password" />
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary" type="submit" mat-button (click)="logIn()" >Login</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>