<div class="row">
 <div class="col-md-6">
  <form (ngSubmit)="f.valid && save(f)" #f="ngForm">
   <div class="form-group">
    <label for="">Title</label>
    <input [(ngModel)]="product.title" name="title" #title="ngModel" required type="text" id="title" class="form-control">
    <div *ngIf="(title.touched  || f.submitted ) && title.invalid" class="alert alert-danger">
     Title is required
    </div>
   </div>
   <div class="form-group">
    <label for="">Price</label>
    <div class="input-group">
     <span class="input-group-addon">$</span>
     <input [(ngModel)]="product.price" #price="ngModel" name="price" required type="number" id="price" class="form-control">
     <div *ngIf="(price.touched || f.submitted ) && price.invalid" required class="alert alert-danger">
      Price is required
     </div>
    </div>
   </div>
   <div class="form-group">
    <label for="">Category</label>
    <select id="category" [(ngModel)]="product.category" #category="ngModel" required name="category" class="form-control">
     <option *ngFor="let c of categories$ | async" [value]="c.name | lowercase">{{c.name}}</option>
    </select>
    <div *ngIf="(category.touched || f.submitted) && category.invalid" class="alert alert-danger">
     Category is required
    </div>
   </div>
   <div class="form-group">
    <label for="">Image url</label>
    <input type="text" id="imageUrl" #imageUrl="ngModel" required [(ngModel)]="product.imageUrl" name="imageUrl" class="form-control">
    <div *ngIf="(imageUrl.touched || f.submitted) && imageUrl.invalid" class="alert alert-danger">
     Image Url is required
    </div>
   </div>
   <button class="btn btn-primary">
    Save
   </button>
  </form>
 </div>
 <div *ngIf="product.title" class="col-md-6">
  <div class="card" style="width: 18rem;">
   <img [src]="imageUrl.value" class="card-img-top">
   <div class="card-body">
    <h5 class="card-title">{{ title.value }}</h5>
    <p class="card-text">{{ price.value | currency: 'BDT ': true }} </p>
   </div>
  </div>
 </div>
</div>