<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list style="width: 250px;">
            <a mat-list-item routerLink="/dashboard/create-note" > Create Note </a>
            <a mat-list-item routerLink="/dashboard/note-list"> Not List </a>
            <a mat-list-item (click)="logOut()"> Logout </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 92vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>